<ion-view view-title="Beer Finder">
  <ion-content>
    <div class="list list-inset" >
  		<label class="item item-input">
    	<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Filter By Name (ex: Lager)" ng-model ="form.name">
  		</label>
  		<label class="item item-input">
    	<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Filter By Exact ABV (ex: 5)" ng-model ="form.abv_exact">
  		</label>
  		<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Minimum ABV: (ex: 4)" ng-model ="form.abvmin">
    		<input type="text" placeholder="Maximum ABV: (ex: 5)" ng-model ="form.abvmax">
  		</label>
  		<label class = "item item-input">
  		<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Filter by Exact IBU: (ex: 30)" ng-model ="form.ibu_exact">
  		</label>
  		<label class="item item-input">
    	<i class="icon ion-search placeholder-icon"></i>
    		<input type="text" placeholder="Filter By Organic (Y/N)" ng-model ="form.isOrganic">
  		</label>
</div>
  </ion-content>
  <div class="bar bar-footer bar-balanced" ng-click ="search()">
  <div class="title">Search</div>
  </div>
</ion-view>		